<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<div class="area" style="background: #fdb166;">
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/home">Home</a>&nbsp;
      </li> 
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/employees-list">View Employees</a>&nbsp;
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/create-employee">Add Employee</a>&nbsp;
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
</div>