<div class="container">
<carousel>
        <slide>
          <img src="../../../assets/images/image (4).jpg" alt="first slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </slide>
        <slide>
          <img src="../../../assets/images/image (2).jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </slide>
        <slide>
          <img src="../../../assets/images/image (3).jpg" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </slide>
      </carousel>
    </div>